* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/* for link only */
img {
  max-width: 100%;
}

a {
  color: #515154;
  text-decoration: none;
}
/* only two link */
.links-wrapper-highlight ul li a {
  padding: 0 10px;
  color: blue;
  text-decoration: none;
}
.links-wrapper-highlight ul li {
  display: inline-block;
}

.links-wrapper-highlight ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding: 0 10px 0 4px;
}
.links-wrapper-highlight ul li a:hover {
  color: black;
}
/* ende link style */

/* header style */
.header-wrapper {
  background-color: #000000;
  color: #fff;
  font-weight: 200;
  font-size: 0.75em;
}
.internal-wrapper {
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}
.header-wrapper ul {
  display: flex;
  padding: 13px 0px;
  /* -webkit-box-pack: justify; */
  justify-content: space-between;
  list-style-type: none;
}
.header-wrapper .links-wrapper ul li {
  display: inline-block;
  height: 20px;
  opacity: 0.8;
}
.header-wrapper .links-wrapper ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  font-size: 1.1em;
}
.header-wrapper .links-wrapper ul li a:hover {
  opacity: 1;
}
.header-wrapper .links-wrapper ul li a img {
  width: 18px;
  display: block;
}

/* Section 2 starts here */

.iPhone11P {
  padding-top: 50px;
  color: white;
  background-image: url(../images/home/iphone11-pro-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  text-align: center;
}

.commonlink a {
  color: blue;
}

.commonlink a::after {
  font-family: fontAwesome;
  content: \f054;
}

.commonlink a:hover {
  color: black;
}

/* third section */

.third-highlight-wrapper {
  background-image: url("../images/home/iphone11-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 580px;
  padding: 65px 20px;
}
.title {
  font-weight: 600;
  font-size: 56px;
}
.description {
  font-size: 26px;
  padding: 10px 0;
}
.price {
  color: #86868b;
  font-size: 0.85em;
}
/* ende third section style */
/* fourth section start */

.fourth-highlight-wrapper {
  display: flex;
  /* -webkit-box-pack: justify; */
  justify-content: space-between;
  background: #fff;
}

.fourth-highlight-wrapper .left {
  background-image: url("../images/home/watch-series-5.jpg");
}
.left .description {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}
/* bg  right sid*/
.fourth-highlight-wrapper .right {
  background-image: url("../images/home/apple-card.jpg");
}
.right .description {
  padding: 10px;
  font-size: 20px;
}
/* end fourth section */

/* section 5 */
.fifth-heghlight-wrapper {
  display: flex;
  justify-content: space-between;
}
.fifth-heghlight-wrapper .left {
  background-image: url("../images/home/apple-tv-background.jpg");
}
.fifth-heghlight-wrapper .right {
  background-image: url("../images/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-position: bottom;
  background-color: #000000;
}
.fifth-heghlight-wrapper .servent {
  margin: 200px 0;
}
.fifth-heghlight-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}

.right {
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0 0.5%;
  text-align: center;
  padding-top: 54px;
}
.left {
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  text-align: center;
  padding-top: 54px;
}
/* section 5 ends here */

/* sixth section */
.linked {
  display: inline-flex;
  list-style: none;
  font-size: 20px;
}
.linked li a {
  text-decoration: none;
  color: blue;
}
.linked li a:after {
  font-family: "FontAwesome";
  content: "\f105";

  padding-left: 10px;
  padding-right: 10px;
}
.allmain {
  width: 100%;
  height: 580px;
  display: flex;

  margin: 0 auto;
  justify-content: space-between;
}
.fiveM {
  background-size: initial;
  background-repeat: no-repeat;

  color: black;

  width: 48.5%;

  text-align: center;
  background-color: #fafafa;
  background-position: bottom;
  margin: 1% 0.5% 0 1%;

  background-image: url(../images/home/macbook-pro.jpg);
}
.name8 {
  text-align: center;
  padding-top: 30px;
}
.mac {
  font-weight: 700;
  font-size: 45px;
}
.best {
  font-size: 15px;
  padding-bottom: 5px;
}
.new {
  padding: 30px;
}
.sixM {
  width: 48.5%;
  margin: 1% 1% 0 0.5%;
  text-align: center;
  background-color: #fafafa;
  background-position: center;

  background-image: url(../images/home/new-ipad.jpg);
}

.pod {
  font-size: 30px;
}
